{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-order",
        "stylelint-scss"
	],
    "rules": {
        "at-rule-no-unknown": null,
        "color-hex-case": "upper",
        "declaration-block-no-duplicate-properties": [
            true,
            {
                "ignore": [
                    "consecutive-duplicates"
                ]
            }
        ],
        "declaration-block-no-redundant-longhand-properties": true,
        "declaration-block-no-shorthand-property-overrides": true,
        "declaration-block-single-line-max-declarations": 3,
        "declaration-colon-space-after": "always",
        "font-family-name-quotes": "always-where-recommended",
        "font-family-no-duplicate-names": true,
        "font-family-no-missing-generic-family-keyword": true,
        "function-calc-no-unspaced-operator": true,
        "function-url-no-scheme-relative": true,
        "function-url-quotes": "always",
        "indentation": 2,
        "keyframe-declaration-no-important": true,
        "no-duplicate-selectors": true,
        "no-empty-first-line": true,
        "no-extra-semicolons": true,
        "no-unknown-animations": true,
        "number-leading-zero": "never",
        "number-max-precision": 3,
        "order/order": [
            "dollar-variables",
            {
                "type": "at-rule",
                "hasBlock": false
            },
            "declarations",
            "rules"
        ],
        "order/properties-order": [
            "content",
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "z-index",
            "display",
            "flex-direction",
            "flex-wrap",
            "order",
            "flex",
            "flex-grow",
            "flex-shrink",
            "flex-basis",
            "justify-content",
            "align-items",
            "align-self",
            "float",
            "width",
            "height",
            "min-width",
            "max-width",
            "min-height",
            "max-height",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "margin-collapse",
            "margin-top-collapse",
            "margin-right-collapse",
            "margin-bottom-collapse",
            "margin-left-collapse",
            "overflow",
            "overflow-x",
            "overflow-y",
            "clip",
            "clear",
            "font",
            "font-family",
            "font-size",
            "font-smoothing",
            "osx-font-smoothing",
            "font-style",
            "font-weight",
            "hyphens",
            "src",
            "line-height",
            "letter-spacing",
            "word-spacing",
            "color",
            "fill",
            "text-align",
            "text-decoration",
            "text-indent",
            "text-overflow",
            "text-rendering",
            "text-size-adjust",
            "text-shadow",
            "text-transform",
            "word-break",
            "word-wrap",
            "white-space",
            "vertical-align",
            "quotes",
            "list-style",
            "list-style-type",
            "list-style-position",
            "list-style-image",
            "pointer-events",
            "cursor",
            "background",
            "background-attachment",
            "background-color",
            "background-image",
            "background-position",
            "background-repeat",
            "background-size",
            "border",
            "border-collapse",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-color",
            "border-image",
            "border-top-color",
            "border-right-color",
            "border-bottom-color",
            "border-left-color",
            "border-spacing",
            "border-style",
            "border-top-style",
            "border-right-style",
            "border-bottom-style",
            "border-left-style",
            "border-width",
            "border-top-width",
            "border-right-width",
            "border-bottom-width",
            "border-left-width",
            "border-radius",
            "border-top-right-radius",
            "border-bottom-right-radius",
            "border-bottom-left-radius",
            "border-top-left-radius",
            "border-radius-topright",
            "border-radius-bottomright",
            "border-radius-bottomleft",
            "border-radius-topleft",
            "outline",
            "outline-offset",
            "opacity",
            "filter",
            "visibility",
            "size",
            "zoom",
            "transform",
            "box-shadow",
            "box-sizing",
            "table-layout",
            "animation",
            "animation-delay",
            "animation-duration",
            "animation-iteration-count",
            "animation-name",
            "animation-play-state",
            "animation-timing-function",
            "animation-fill-mode",
            "transition",
            "transition-delay",
            "transition-duration",
            "transition-property",
            "transition-timing-function",
            "background-clip",
            "backface-visibility",
            "resize",
            "appearance",
            "user-select",
            "interpolation-mode",
            "direction",
            "marks",
            "page",
            "set-link-source",
            "unicode-bidi",
            "speak"
        ],
        "property-no-vendor-prefix": true,
        "scss/at-rule-no-unknown": true,
        "scss/selector-no-redundant-nesting-selector": true,
        "scss/at-import-no-partial-leading-underscore": true,
        "scss/dollar-variable-colon-space-after": "at-least-one-space",
        "selector-list-comma-newline-after": "always-multi-line",
        "selector-list-comma-space-after": "always-single-line",
        "selector-pseudo-class-no-unknown": true,
        "selector-type-no-unknown": true,
        "shorthand-property-no-redundant-values": true,
        "string-no-newline": true,
        "string-quotes": "single",
        "unit-no-unknown": true,
        "value-keyword-case": "lower",
        "value-no-vendor-prefix": true,
        "declaration-colon-newline-after": null,
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "blockless-after-same-name-blockless",
                    "first-nested"
                ],
                "ignore": [
                    "after-comment"
                ],
                "ignoreAtRules": [
                    "else"
                ]
            }
        ],
        "no-descending-specificity": null
    }
}
