{
    "extends": [
        "stylelint-config-standard-scss",
        "@stylistic/stylelint-config"
    ],
    "plugins": [
        "@stylistic/stylelint-plugin",
        "stylelint-order"
	],
    "rules": {
        "@stylistic/color-hex-case": "upper",
        "@stylistic/declaration-colon-newline-after": null,
        "@stylistic/declaration-colon-space-after": "always-single-line",
        "@stylistic/max-line-length": null,
        "@stylistic/number-leading-zero": "never",
        "@stylistic/selector-list-comma-newline-after": "always-multi-line",
        "@stylistic/selector-list-comma-space-after": "always-single-line",
        "@stylistic/string-quotes": "single",
        "alpha-value-notation": null,
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "blockless-after-same-name-blockless",
                    "first-nested"
                ],
                "ignore": [
                    "after-comment"
                ],
                "ignoreAtRules": [
                    "else"
                ]
            }
        ],
        "color-function-notation": null,
        "declaration-block-single-line-max-declarations": 3,
        "function-url-no-scheme-relative": true,
        "keyframes-name-pattern": null,
        "no-descending-specificity": null,
        "no-unknown-animations": true,
        "number-max-precision": 3,
        "order/order": [
            "dollar-variables",
            {
                "type": "at-rule",
                "hasBlock": false
            },
            "declarations",
            "rules"
        ],
        "order/properties-order": [
            "content",
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "z-index",
            "display",
            "flex-direction",
            "flex-wrap",
            "order",
            "flex",
            "flex-grow",
            "flex-shrink",
            "flex-basis",
            "justify-content",
            "align-items",
            "align-self",
            "float",
            "width",
            "height",
            "min-width",
            "max-width",
            "min-height",
            "max-height",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "margin-collapse",
            "margin-top-collapse",
            "margin-right-collapse",
            "margin-bottom-collapse",
            "margin-left-collapse",
            "overflow",
            "overflow-x",
            "overflow-y",
            "clip",
            "clear",
            "font",
            "font-family",
            "font-size",
            "font-smoothing",
            "osx-font-smoothing",
            "font-style",
            "font-weight",
            "hyphens",
            "src",
            "line-height",
            "letter-spacing",
            "word-spacing",
            "color",
            "fill",
            "text-align",
            "text-decoration",
            "text-indent",
            "text-overflow",
            "text-rendering",
            "text-size-adjust",
            "text-shadow",
            "text-transform",
            "word-break",
            "word-wrap",
            "white-space",
            "vertical-align",
            "quotes",
            "list-style",
            "list-style-type",
            "list-style-position",
            "list-style-image",
            "pointer-events",
            "cursor",
            "background",
            "background-attachment",
            "background-color",
            "background-image",
            "background-position",
            "background-repeat",
            "background-size",
            "border",
            "border-collapse",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-color",
            "border-image",
            "border-top-color",
            "border-right-color",
            "border-bottom-color",
            "border-left-color",
            "border-spacing",
            "border-style",
            "border-top-style",
            "border-right-style",
            "border-bottom-style",
            "border-left-style",
            "border-width",
            "border-top-width",
            "border-right-width",
            "border-bottom-width",
            "border-left-width",
            "border-radius",
            "border-top-right-radius",
            "border-bottom-right-radius",
            "border-bottom-left-radius",
            "border-top-left-radius",
            "border-radius-topright",
            "border-radius-bottomright",
            "border-radius-bottomleft",
            "border-radius-topleft",
            "outline",
            "outline-offset",
            "opacity",
            "filter",
            "visibility",
            "size",
            "zoom",
            "transform",
            "box-shadow",
            "box-sizing",
            "table-layout",
            "animation",
            "animation-delay",
            "animation-duration",
            "animation-iteration-count",
            "animation-name",
            "animation-play-state",
            "animation-timing-function",
            "animation-fill-mode",
            "transition",
            "transition-delay",
            "transition-duration",
            "transition-property",
            "transition-timing-function",
            "background-clip",
            "backface-visibility",
            "resize",
            "appearance",
            "user-select",
            "interpolation-mode",
            "direction",
            "marks",
            "page",
            "set-link-source",
            "unicode-bidi",
            "speak"
        ],
        "scss/at-if-closing-brace-newline-after": null,
        "scss/at-if-closing-brace-space-after": null,
        "scss/at-import-partial-extension-disallowed-list": ["scss"],
        "scss/at-mixin-pattern": null,
        "scss/at-rule-conditional-no-parentheses": null,
        "scss/dollar-variable-colon-space-after": "at-least-one-space",
        "scss/dollar-variable-empty-line-before": null,
        "scss/dollar-variable-pattern": null,
        "scss/double-slash-comment-empty-line-before": null,
        "scss/no-global-function-names": null,
        "scss/percent-placeholder-pattern": null,
        "scss/selector-no-redundant-nesting-selector": true,
        "selector-attribute-quotes": "never",
        "selector-class-pattern": null,
        "selector-id-pattern": null,
        "selector-not-notation": null,
        "value-keyword-case": [
            "lower",
            {
                "camelCaseSvgKeywords": true
            }
        ]
    }
}
