@charset "UTF-8";

/* © DialogueTrainer */

#colorPicker {
  z-index: 51;
  filter: drop-shadow(0 2px 3px rgba(black, .5));
  animation: pop-in .2s ease-in-out 0s;

  .edit,
  .close {
    pointer-events: all;

    &:hover {
      cursor: pointer;
    }
  }
}

.segment:hover {
  cursor: pointer;
  opacity: .75;
}

.color {
  border-style: outset;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.75);
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: translate(-50%, -50%) scale(1.025);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
