@charset "UTF-8";

// © Utrecht University and DialogueTrainer

#draftTable {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  font-size: 14px;

  textarea,
  input,
  select {
    width: 100%;
    height: 21px;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
  }

  textarea {
    height: 18px;
    resize: vertical;
  }

  td {
    vertical-align: top;

    &.disabled {
      position: relative;
      font-style: italic;
      color: #666;
      cursor: default;

      &.dragHandle {
        font-style: normal !important;
        cursor: default;
      }
    }
  }

  tr {
    &:nth-child(odd) td {
      background-color: rgba(black, .1);

      &:hover {
        background-color: rgba(black, .075);
      }
    }

    &:nth-child(even) td {
      background-color: rgba(black, .05);

      &:hover {
        background-color: rgba(black, .025);
      }
    }
  }
}

td.dragHandle {
  text-align: center;
  cursor: move;
}

#draftTableHeaders {
  th {
    background-color: white;
    border: 1px solid rgba(black, .4);
  }

  #draftDragAll {
    color: #111;
    text-align: center;
    cursor: move;
    background-color: rgba(black, .05);

    &:hover {
      background-color: rgba(black, .025);
    }
  }
}

#addDraftItem {
  width: 100%;
  color: #EEE;
  text-align: center;
  background-color: rgba(black, .4);

  &:hover {
    color: white;
    background-color: rgba(black, .3);
  }
}

#itemControls {
  display: block !important;
  float: right;
  width: 100%;
  margin: 0;
  font-size: 14px;

  button {
    display: inline-block;
    width: 15%;
    text-align: center;
  }
}

#tableSizeFixer {
  max-height: 140px;
  overflow-y: auto;
}

.disabled .disabled-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: inherit;
}
