@charset "UTF-8";

/* © DialogueTrainer */

@use 'base' as *;

.evaluationExpression,
.scale-expression,
.expression {
  display: block;
  padding: $spacing-1;
  background: rgba($col-expression-background, .2);
  border: 1px solid rgba(darken($col-expression-background, 25%), .25);
  border-radius: $rounded-base;
  box-sizing: border-box;

  ul {
    padding-inline-start: $spacing-6;
    margin: 0;
  }
}

.sum-expression {
  display: flex;
  align-items: center;
}

.scale-expression,
.expression {
  display: inline-block;
}

.define-type {
  vertical-align: middle;

  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}

.groupConditionDiv {
  padding: 0;
  padding-left: $spacing-2;
  margin: 0;
  margin-left: $spacing-2;
  border-left: 2px solid rgba(black, .1);

  .when & {
    border-left: 2px solid cornflowerblue;
  }

  .condition {
    margin-bottom: $spacing-1;
  }
}

.condition {
  > {
    .condition-test-container + button {
      display: inline-block;
    }

    .emptyLabel,
    .singleLabel,
    .multipleLabel {
      display: none;
    }
  }

  &.empty > .emptyLabel,
  &.single > .singleLabel,
  &.multiple > .multipleLabel {
    display: block;
  }
}

.groupConditionRadioDiv {
  display: none;
}

.condition.multiple > .groupConditionRadioDiv {
  display: block;
  margin-bottom: $spacing-1;

  input {
    width: auto !important;
  }
}
