@charset "UTF-8";

/* © DialogueTrainer */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('../fonts/open-sans-v17-latin-ext_greek-ext_greek_cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v17-latin-ext_greek-ext_greek_cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'),
    local('OpenSans-Italic'),
    url('../fonts/open-sans-v17-latin-ext_greek-ext_greek_cyrillic_latin-italic.woff2') format('woff2'),
    url('../fonts/open-sans-v17-latin-ext_greek-ext_greek_cyrillic_latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'),
    local('OpenSans-SemiBold'),
    url('../fonts/open-sans-v17-latin-ext_greek-ext_greek_cyrillic_latin-600.woff2') format('woff2'),
    url('../fonts/open-sans-v17-latin-ext_greek-ext_greek_cyrillic_latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('../fonts/open-sans-v17-latin-ext_greek-ext_greek_cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v17-latin-ext_greek-ext_greek_cyrillic_latin-700.woff') format('woff');
}
