@charset "UTF-8";

// © Utrecht University and DialogueTrainer

#miniwrap {
  display: none;
}

#minimap {
  position: relative;
  float: right;
  width: 296px;
  height: 296px;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

#minimapSelector {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 296px;
  border: 2px solid darken(desaturate($col-editor, 75%), 15%);
  border-radius: 1px;
  box-sizing: border-box;
}

#scaledDiv {
  pointer-events: none;

  * {
    overflow: hidden;
  }
}
