@charset "UTF-8";

/* © DialogueTrainer */

@use 'base' as *;

.w {
  &.allowInterleaveNode, &.allowDialogueEndNode, &.endNode {
    outline: 5px solid transparent;
  }

  &.allowInterleaveNode {
    outline-color: $col-allow-interleave;
  }

  &.allowDialogueEndNode {
    outline-color: $col-allow-dialogue-end;
  }

  &.endNode {
    outline-color: $col-end-node;
  }

  &.long {
    .iconExpand {
      position: absolute;
      right: -2px;
      bottom: -2px;
      width: 16px;
      height: 16px;
      padding: $spacing-1;
      fill: white;
      border-radius: $rounded-base;
    }

    &.player .iconExpand {
      background-color: $col-node-player;
    }

    &.computer .iconExpand {
      background-color: $col-node-computer;
    }

    &.situation .iconExpand {
      background-color: $col-node-situation;
    }

    .statementText {
      position: relative;
      max-height: 72px;
      overflow: hidden;
      mask-image: linear-gradient(rgba(black, 1) 0%, rgba(black, 1) 75%, rgba(black, 0) 100%);
    }

    .statementInput {
      min-height: 200px;
    }
  }
}

.statementText {
  overflow-wrap: break-word;
  hyphens: auto;
}

// Used to test length of string in node
.lengthTest {
  position: absolute;
  width: auto;
  height: auto;
  font-size: 11px;
  white-space: nowrap;
  visibility: hidden;
  // Thanks to Herb Caudill comment
}

.nodestatement {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: auto;
  font: inherit;
  box-sizing: border-box;
}

.sideMenuOpenIcon, .sideMenu {
  position: absolute;
  top: 5%;
  left: 100%;
  z-index: 100;

  svg {
    fill: white;
  }
}

.sideMenuOpenIcon {
  margin-left: 3px;
  font-size: 0;
  background-color: $slate-800;
  border-radius: 0 $rounded-base $rounded-base 0;
  opacity: 0;
  transition: background-color .3s ease-in-out;
  padding-inline: 2px;

  &:hover {
    background-color: $slate-700;
  }

  .nodeContent:hover & {
    opacity: 1;
  }
}

.sideMenu {
  .tippy-box {
    font-size: revert;
    color: revert;
    background-color: revert;
  }

  .tippy-content {
    padding: 0;
  }

  .sideMenuDropdown {
    flex-direction: column;
    overflow: hidden;
    list-style-type: none;
    background-color: $slate-800;
    border-radius: $rounded-base;
    transition: background-color .3s ease-in-out;

    .sideMenuItem button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: $spacing-2;
      font-size: 11px;
      color: white;
      white-space: nowrap;
      background-color: $slate-800;
      border: none;
      transition: background-color .3s ease-in-out;
      gap: $spacing-2;

      &:enabled:hover {
        background-color: $slate-700;
      }

      &.clicked::after {
        content: '';
        position: relative;
        left: -$spacing-1;
        width: 16px;
        height: 16px;
        background-color: #14B8A6;
        clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
      }

      .iconDiv {
        padding: 2px;
        font-size: 0;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: $rounded-base;

        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

.iconsContainer {
  position: absolute;
  bottom: -$spacing-4;
  display: flex;
  align-items: center;
  pointer-events: none;
  gap: $spacing-1;

  > span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: $slate-500;
    border: 1px solid transparent;
    border-radius: $rounded-base;

    &.positive { background-color: #5ABF86; }
    &.concern { background-color: #F09D25; }
    &.negative { background-color: #E57373; }
    &.remark { background-color: #2EB1F0; }
  }

  svg {
    position: relative;
    width: 15px;
    height: 15px;
    padding: 3px;
    fill: white;
    pointer-events: none;
  }
}

.iconsContainer > span, .sideMenu .sideMenuDropdown .sideMenuItem button .iconDiv {
  &.nodePreConditions {
    background-color: #8B5CF6;
    border-color: #C4B5FD;
  }

  &.nodeEndKinds {
    background-color: $slate-400;
    border-color: $slate-300;
  }
}
