@charset "UTF-8";

// © Utrecht University and DialogueTrainer

@use 'base' as *;

#sidebar {
  $sidebar-control-min-width: 30px;

  position: relative;
  width: $sidebar-width;
  height: 100%;
  min-width: 5px; // Grip
  overflow: hidden; // Prevents Edge overflow bug
  font-size: 11pt;
  color: rgba(black, .6);
  background-color: $col-sidebar;

  textarea {
    resize: vertical;
  }

  > div {
    position: relative;
    width: 100%;
    height: 100%;

    > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .grip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    z-index: 100;
    width: 10px;
    cursor: ew-resize;
    background: black;
    opacity: 0;

    &:hover {
      opacity: .25;
      transition: 0s opacity .1s linear;
    }
  }

  &.dragging > * {
    opacity: .5;
  }

  input[type=checkbox] {
    display: inline-block;
    width: auto;
    margin-right: .5em;
    transform: scale(1.25);
  }

  .inputgroup {
    display: inline-block;
  }

  // This is the class for sections for property values and parameter effects
  .section {
    margin: 0 auto 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &:empty {
      display: none;
    }
  }

  // This is the class for subsections for property values and parameter effects
  .subsection {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  label {
    user-select: none;
  }

  .parameter-effect,
  .condition:not(.groupcondition) {
    display: flex;
    align-items: center;
    overflow: hidden;

    span,
    .inputgroup,
    .parameter-effect-container {
      display: flex;
      align-items: center;
    }

    .handle,
    > select,
    span,
    .inputgroup > select {
      flex: 0 0 auto;
      overflow: hidden;
    }

    .parameter-effect-container,
    .parameter-effect-value-container {
      min-width: auto;
    }

    input[type=number] {
      flex-grow: 1;
    }

    .parameter-idref-select {
      flex: 1 1 auto !important;
      min-width: $sidebar-control-min-width;
    }

    > .iconButton.delete {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

#properties {
  &.player,
  &.situation,
  &.tree {
    > {
      #headerComputer,
      #characterSection {
        display: none;
      }
    }
  }

  &.player,
  &.situation,
  &.computer {
    > {
      #headerSubject,
      #optionalSubject {
        display: none;
      }
    }
  }

  &.player > {
    #headerSituation {
      display: none;
    }
  }

  &.situation > {
    #headerPlayer {
      display: none;
    }
  }

  &.computer > {
    #headerPlayer,
    #headerSituation {
      display: none;
    }
  }

  &.tree > {
    #headerPlayer,
    #headerSituation,
    #preconditionsSection,
    #endNode,
    #effectsSection,
    #propertyValuesSection,
    #allowInterleaveNode,
    #allowDialogueEndNode {
      display: none;
    }
  }
}

.header,
.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $sidebar-padding;
}

.header {
  h1 {
    margin: 0;
    overflow: hidden;
    font-size: 1.25em;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
  }

  img {
    margin-right: 10px;
    vertical-align: middle;
  }

  svg {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    fill: currentColor;
    vertical-align: middle;
  }
}

.sub-header {
  h2 {
    margin: 0;
    overflow: hidden;
    font-size: 1.1em;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;

    label {
      line-height: 1em;
      vertical-align: middle;
    }
  }

  img {
    margin-right: 5px;
    vertical-align: middle;
  }

  svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    fill: currentColor;
    vertical-align: middle;
  }
}

.sidebarSection {
  border-top: 1px solid rgba(black, .08);

  h3 {
    margin-top: .5em;
    margin-bottom: .25em;
    font-size: 1em;
    font-weight: 600;
    user-select: none;
  }
}

#propertyValuesSection,
#characterSection {
  table {
    width: 100%;
    table-layout: fixed;
  }

  th {
    width: 30%;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
  }

  td {
    text-align: left;
    word-wrap: break-word;
    vertical-align: top;

    + th {
      width: 70%;
    }

    input,
    select,
    textarea {
      width: 100%;
      box-sizing: border-box;
    }
  }

  tr {
    border-bottom: 1px solid black;
  }
}

.ui-accordion {
  .ui-accordion-header {
    margin-bottom: 0;
  }

  .ui-accordion-content {
    padding: .5em 1em !important;
  }
}

#preconditionsSection {
  white-space: nowrap;
}

.clicktag,
.masterclicktag {
  flex: 0 0 auto;

  svg {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    fill: currentColor;
    opacity: .75;
  }
}

.collapsable {
  padding: $sidebar-padding;
}
