@charset "UTF-8";

/* © DialogueTrainer */

#tabDock {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 5px; // Grip
  margin-top: 1px;
  background: linear-gradient(to bottom, #FAFAFA 0, #FFF 100%);
  border: 1px solid rgba(black, .08);

  > *:not(.ui-widget-header) {
    position: relative;
    flex: 1;
    padding: 0 20px;
    overflow: auto;
  }

  > div {
    overflow: auto;
    background-color: inherit;
  }

  .ui-tabs-nav {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 1px;
    user-select: none;

    > * {
      flex: 0 0 auto;
    }

    .title {
      flex: 1 1 100%;
      padding: 3px 0;
      margin-left: 5px;
    }
  }

  #closeTabDock {
    margin-right: 5px;
    cursor: pointer;
  }

  .controls {
    align-self: stretch;
    margin-right: 5px;
    overflow: hidden;

    > * {
      margin-right: 3px;

      &:last-child {
        margin-right: 0;
      }
    }

    button,
    select {
      height: 100%;
      padding: 0 5px;
      font-size: .9em;
      font-weight: 600;
      line-height: 20px;
      color: rgba(black, .75);
      vertical-align: middle;
      border-width: 1px;

      &:not(:disabled) {
        cursor: pointer;
      }
    }

    button {
      background: transparent;
      border: 1px solid transparent;
      border-width: 0 1px;

      &:hover {
        color: rgba(black, .9);
        background: rgba(black, .025);
        border-color: rgba(black, .05);
      }

      &:active {
        color: black;
        background: rgba(black, .1);
        border-color: rgba(black, .15);
      }

      svg {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        fill: currentColor;
        vertical-align: middle;
      }
    }

    select {
      top: 1px;
      height: calc(100% - 4px);
      border-color: rgba(black, .15);

      &:hover {
        border-color: rgba(black, .25);
      }
    }

    .buttonGroup {
      button {
        height: calc(100% - 4px);
        margin-top: 2px;
        margin-left: -1px;
        line-height: 18px;
        border-color: rgba(black, .1);
        border-width: 1px;

        &:first-child {
          border-radius: 5px 0 0 5px;
        }

        &:last-child {
          border-radius: 0 5px 5px 0;
        }
      }
    }
  }

  .grip {
    position: absolute;
    top: -5px;
    right: 0;
    left: 0;
    z-index: 100;
    display: block !important;
    height: 10px;
    cursor: ns-resize;
    background: black;
    opacity: 0;

    &:hover {
      opacity: .25;
      transition: 0s opacity .1s linear;
    }
  }
}
