@charset "UTF-8";

/* © DialogueTrainer */

@use 'base' as *;

.hasStyledTable {
  table {
    width: 100%;
    border: hidden;
    border-collapse: collapse;
    border-spacing: 0;

    tbody {
      &:not(:last-child)::after, &:not(:first-child)::before {
        content: '';
        display: table-row;
        height: 3px;
      }

      &:not(:last-child)::after {
        border-top: hidden;
      }

      &:not(:first-child)::before {
        border-bottom: hidden;
      }

      &:empty {
        display: none;
      }
    }

    tr > td {
      padding: 2px;

      &:not(.fill) {
        width: .1%;
        white-space: nowrap;
      }

      &:first-child {
        padding-inline-start: $spacing-2;
      }

      &:last-child {
        padding-inline-end: $spacing-2;
      }
    }
  }

  .highlight {
    padding: $spacing-1;
    color: var(--t-bg-highlight);
    background-color: var(--t-fg-highlight);
    border-radius: $rounded-base;

    &:empty {
      display: none;
    }
  }
}
