@charset "UTF-8";

// © Utrecht University and DialogueTrainer

@use 'base' as *;

#logo {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 8px;
  background: $col-editor;
  box-sizing: border-box;
  transition: .5s background ease-out;

  &:hover {
    background: lighten($col-editor, 5%);
    transition: .1s background ease-in-out;
  }

  img {
    width: 16px;
    height: 16px;
    fill: white;
    transition: .5s top ease-out;
  }
}

#languages {
  align-self: center;
  padding-right: 10px;
  color: rgba(black, .25);
}

#toolbar {
  padding: 0;
  margin: 0;
  background-color: $col-toolbar;
  border-right: 1px solid rgba(darken($col-toolbar, 25%), .1);

  :disabled {
    color: $col-text-dark;
    cursor: default !important;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    opacity: .3;

    &:not(.enabled):hover {
      color: $col-text-dark;
      cursor: default !important;
      background-color: transparent;
      border-color: transparent;
      outline: none;
      opacity: .3;
    }
  }

  #manual {
    width: 25px;
    height: 25px;
    margin: 5px;
    overflow: hidden;
    border-radius: 100%;

    img,
    div {
      width: 25px;
      height: 25px;
      padding: 0;
      margin: 0;
    }
  }

  hr {
    height: 1px;
    padding: 0;
    margin: 5px 0;
    background-color: rgba(black, .1);
    border: none;
  }

  #clipboard button {
    cursor: help;
  }

  #menus button.dropdownButton, #ribbon button {
    font-size: 12px;
    font-weight: 600;
    color: lighten($col-text-dark, 15%);
  }
}

#menus {
  display: flex;
  background-color: $col-menu-bar;
  border-bottom: 1px solid rgba(black, .08);

  > * {
    flex: 0 0 auto;
  }

  #scenarioNameTab {
    // Stretch element to available width
    flex: 1 1 auto;
  }

  svg {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    fill: #777;
    vertical-align: middle;
  }

  button {
    height: auto;
    text-align: left;

    &:hover,
    &.dropped {
      background-color: rgba(black, .05);
    }
  }

  .buttonGroup {
    margin: 0;

    &::after {
      display: none;
    }
  }

  .dropdown {
    width: auto;
    height: auto;
    margin-top: 0;
    background-color: transparent;
    border-radius: 0;

    button {
      display: block;
      width: 100%;
      padding: 5px 8px;
    }

    svg {
      margin-right: 10px;
    }

    .dropdownItems {
      position: absolute;
      z-index: 52;
      display: none;
      width: auto;
      height: auto;
      min-width: 150px;
      padding: 1px;
      margin: 0;
      background: #FEFEFE;
      border: 1px solid rgba(black, .25);
      box-shadow: 1px 2px 3px rgba(black, .5);
      box-sizing: border-box;

      button {
        padding: 5px 7px;
      }
    }
  }

  .dropdownButton {
    height: 32px;
  }

  kbd {
    float: right;
    padding: 2px 3px;
    margin-left: 2px;
    opacity: .75;

    &:last-of-type {
      margin-left: 10px;
    }
  }
}

#toolbar,
#menus {
  svg use {
    pointer-events: none;
  }
}

#ribbon {
  display: flex;
  flex-wrap: wrap;
  padding: $buttongroup-margin;

  .buttonGroup {
    flex: 0 1 auto;
    // Conforms the ::after element to border radius
    overflow: hidden;
    background-color: white;
    border: 1px solid rgba(black, .08);
  }

  button {
    padding: 2px;
    margin: 1px;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      background-color: rgba($col-ribbon, .05);
      border-color: rgba($col-ribbon, .25);
    }
  }

  button.enabled {
    background-color: rgba(desaturate($col-ribbon, 75%), .05);
    border-color: rgba($col-ribbon, .5);
  }

  .big-buttons {
    padding: 1px;

    * {
      margin: 0;
    }

    button {
      padding: 2px 3px;
    }

    img {
      display: block;
      width: 30px;
      height: 30px;
      margin: auto;
      margin-bottom: 5px;
    }

    svg {
      display: block;
      width: 30px;
      width: 32px;
      height: 30px;
      height: 32px;
      margin: auto;
      margin-bottom: 5px;
      fill: $col-toolbar-icons;
    }
  }

  .small-buttons {
    padding: 1px;

    * {
      padding: 2px;
      margin: 0;
    }

    button {
      display: block;
      height: 26px;
      margin: 1px 0;
      text-align: left;
    }

    img,
    svg {
      width: 16px;
      height: 16px;
      margin: 0 3px;
      fill: rgba(black, .5);
      vertical-align: middle;
    }
  }
}

#scenarioNameTab {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0 5px;
  font-size: 1.1em;
  gap: 4px;

  > *, &::after {
    flex-shrink: 0;
  }

  .scenarioName,
  .scenarioNameInput {
    flex-shrink: 1;
  }
}

.scenarioName {
  padding: 0 5px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 5px;

  &:hover,
  &:empty {
    color: #101010;
    background-color: rgba($col-editor, .1);
    border-color: $col-editor;
  }

  &:empty {
    min-width: 50px;
    min-height: 1.25em;
  }
}

.scenarioNameInput {
  flex-grow: 1;

  input {
    width: 100%;
    height: 100%;
    font: inherit;
    box-sizing: border-box;
  }
}

.unsavedChanges::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  background: $col-unsaved-changes;
  border-radius: 100%;
}
