@charset "UTF-8";

// © Utrecht University and DialogueTrainer

#logo {
    width: 32px;
    height: 32px;
    padding: 8px;
    box-sizing: border-box;
    background: $col-editor;
    transition: 0.5s background ease-out;
    position: relative;
    &:hover {
        transition: 0.1s background ease-in-out;
        background: lighten($col-editor, 5%);
    }
    img {
        fill: white;
        width: 16px;
        height: 16px;
        transition: 0.5s top ease-out;
    }
}

#languages {
    align-self: center;
    padding-right: 10px;
    color: rgba(black, 0.25);
}

.buttonGroup {
    margin: $buttongroup-margin;
    background-color: white;
    vertical-align: top;
    word-wrap: break-word;
}

#toolbar {
    margin: 0;
    padding: 0;
    background-color: $col-toolbar;
    border-right: 1px solid rgba(darken($col-toolbar, 25%), 0.1);
    .big-buttons {
        padding: 1px;
        * {
            margin: 0;
        }
        div {
            margin: 0 1px;
        }
        img {
            margin: auto;
            margin-bottom: 5px;
            width: 30px;
            height: 30px;
            display: block;
        }
        svg {
            margin: auto;
            margin-bottom: 5px;
            width: 30px;
            height: 30px;
            display: block;
            fill: $col-toolbar-icons;
            width: 32px;
            height: 32px;
        }
    }
    button div {
        margin: 3px;
        font-weight: 600;
        font-size: 12px;
        color: lighten($col-text-dark, 15%);
    }
    :disabled {
        outline: none;
        border-color: transparent;
        background-color: transparent;
        color: $col-text-dark;
        opacity: 0.3;
        cursor: default !important;
        &:not(.enabled):hover {
            outline: none;
            border-color: transparent;
            background-color: transparent;
            color: $col-text-dark;
            opacity: 0.3;
            cursor: default !important;
        }
    }
    #manual {
        overflow: hidden;
        margin: 5px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        img,
        div {
            margin: 0;
            padding: 0;
            width: 25px;
            height: 25px;
        }
    }
    .separator {
        margin: 5px 0;
        padding: 0;
        height: 1px;
        background-color: rgba(black, 0.1);
    }
    #clipboard button {
        cursor: help;
    }
    .dropdown {
        margin-top: 0px;
        width: auto;
        height: auto;
        border-radius: 0;
        background-color: transparent;
        button {
            width: 100%;
            padding: 2px 5px;
        }
        .dropdownItems {
            display: none;
            margin: 0;
            padding: 1px;
            height: auto;
            box-shadow: 1px 2px 3px rgba(black, 0.5);
            background: #fefefe;
            border: 1px solid rgba(black, 0.25);
            box-sizing: border-box;
            position: absolute;
            min-width: 150px;
            z-index: 52;
            width: auto;
        }
    }
    #menus .dropdown .dropdownItems button {
        padding: 5px 7px;
    }
    .small-buttons {
        padding: 1px;
        * {
            margin: 0;
            padding: 2px;
        }
        button {
            display: block;
            height: 26px;
            text-align: left;
            margin: 1px 0;
        }
        img,
        svg {
            margin: 0 3px;
            width: 16px;
            height: 16px;
            fill: rgba(black, 0.5);
            vertical-align: middle;
        }
    }
}

#menus {
    display: flex;
    background-color: $col-menu-bar;
    border-bottom: 1px solid rgba(black, 0.1);
    >* {
        flex: 0 1 auto;
    }
    #scenarioNameTab {
        // Stretch element to available width
        flex: 1 0 auto;
        align-self: center;
    }
    svg {
        margin: 0 3px;
        width: 16px;
        height: 16px;
        fill: #777;
        vertical-align: middle;
    }
    .buttonGroup {
        margin: 0;
        &::after {
            display: none;
        }
    }
    button {
        height: auto;
        text-align: left;
        &:hover,
        &.dropped {
            background-color: rgba(black, 0.05);
        }
    }
    .dropdown {
        button {
            display: block;
        }
        svg {
            margin-right: 10px;
        }
    }
    .dropdownButton {
        height: 32px;
    }
}

#toolbar,
#menus {
    svg use {
        pointer-events: none;
    }
}

#ribbon {
    display: flex;
    flex-wrap: wrap;
    padding: $buttongroup-margin;

    .buttonGroup {
        // Conforms the ::after element to border radius
        overflow: hidden;
        border: 1px solid rgba(black, 0.1);
        flex: 0 1 auto;
    }
    button {
        margin: 1px;
        padding: 2px;
        border: 1px solid transparent;
        &:hover {
            background-color: rgba($col-ribbon, 0.05);
            border-color: rgba($col-ribbon, 0.25);
            cursor: pointer;
        }
    }
    .dropped {
        background-color: rgba($col-ribbon, 0.05);
        border-color: rgba($col-ribbon, 0.25);
        cursor: pointer;
    }
    button.enabled {
        background-color: rgba(desaturate($col-ribbon, 75%), 0.05);
        border-color: rgba($col-ribbon, 0.5);
    }
}

#scenarioNameTab {
    margin: 0;
    padding: 3px 0;
    color: #666;
    text-align: center;
    font-size: 1.1em;
    span {
        margin: 3px 0;
        padding: 5px;
        min-width: 50px;
        height: 1em;
        color: #000;
        &:hover {
            background-color: #f8f8f8;
            color: #101010;
        }
        input[type=text] {
            height: 1em;
            font: inherit;
        }
        &:empty {
            padding: 3px 15px;
        }
    }
}

.unsavedChanges::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: $col-unsaved-changes;
    vertical-align: middle;
}
