@charset "UTF-8";

// © Utrecht University and DialogueTrainer

$yiq-contrasted-threshold:  150 !default;

$sidebar-width: 475px !default;
$sidebar-padding: 5px !default;

$buttongroup-margin: 1px !default;
