/* ©Copyright Utrecht University (Department of Information and Computing Sciences) */

.w {
	padding:0.5em 1em;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:0.5em;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:white;
	font-size:11px;
	-webkit-transition:background-color 0.15s ease-in, color 0.15s ease-in;
	-moz-transition:background-color 0.15s ease-in, color 0.15s ease-in;
	transition:background-color 0.15s ease-in, color 0.15s ease-in;
}

.w ul {
	margin: 0;
	padding: 0;
}

.w.computer {
	border:3px solid #C31339;
}

.w.player {
	border:3px solid #1f71b8;
}

.w.situation {
    border:3px solid #F37812;
}

.jumpnode
{
	border-bottom-color:#8B4A94   !important;
	border-left-color:#8B4A94   !important;
}
.jumpnode:hover
{
	background: #Bf5cd1; /* Old browsers */
	background: -moz-linear-gradient(45deg, #ff3333 50%, #Bf5cd1  50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#Bf5cd1 ), color-stop(50%,#ff3333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,#ff3333 50%, #Bf5cd1  50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #ff3333 50%, #Bf5cd1  50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #ff3333 50%, #Bf5cd1  50%); /* IE10+ */
	background: linear-gradient(-135deg, #ff3333 50%, #Bf5cd1  50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3333', endColorstr='#Bf5cd1 ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.endnode
{
	border-bottom-color:#212121   !important;
	border-left-color:#212121   !important;
}

.endnode:hover
{
	background: #212121; /* Old browsers */
	background: -moz-linear-gradient(45deg, #ff3333 50%, #212121  50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#212121 ), color-stop(50%,#ff3333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,#ff3333 50%, #212121  50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #ff3333 50%, #212121  50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #ff3333 50%, #212121  50%); /* IE10+ */
	background: linear-gradient(-135deg, #ff3333 50%, #212121  50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3333', endColorstr='#Bf5cd1 ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.w:hover {
	color:white;
}

.w.computer:hover {
	background-color:#ff3333;
}

.w.player:hover {
	background-color:#3366ff;
}

.w.situation:hover {
	background-color:#F79923;
}

.w.treeContainer:hover{
	background-color:#123456;
}

/* On hover of treecontainer: change the text color of nodes inside it to black (they inherit white from .w:hover{})*/
.w.treeContainer:hover > .player ,
.w.treeContainer:hover > .player.computer

.selected, .multiSelected {
	color:white;
	background-color:green;
}

#clone{
	opacity:0.5;
}

.parentSelected {
	background-color:lightgreen;
}

.aLabel {
	-webkit-transition:background-color 0.15s ease-in, color 0.15s ease-in;
	-moz-transition:background-color 0.15s ease-in, color 0.15s ease-in;
	transition:background-color 0.15s ease-in, color 0.15s ease-in;
}

.aLabel.jsplumb-hover, .jsplumb-source-hover, .jsplumb-target-hover {
	background-color:#1e8151;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}

.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.15s ease-in, color 0.15s ease-in;
	-moz-transition:-moz-box-shadow 0.15s ease-in, color 0.15s ease-in;
	transition:box-shadow 0.15s ease-in, color 0.15s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.jsplumb-endpoint {
	z-index:3;
}

.dragHover { border:2px solid orange; }

path { cursor:pointer; }