html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: MyriadPro-Regular, "Myriad Pro", sans-serif; }

#wrap {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%; }
  #wrap > div {
    display: table-row; }
    #wrap > div > div {
      display: table-cell;
      vertical-align: top; }

#content {
  display: table;
  width: 100%;
  height: 100%; }
  #content > div {
    display: table-row; }
    #content > div > div {
      display: table-cell; }
  #content > #draftScreen {
    position: absolute;
    right: 366px;
    bottom: 0;
    left: 0;
    display: none;
    overflow-y: scroll;
    height: 300px; }

#mainCell {
  overflow: hidden;
  height: 100%; }

#main {
  position: relative;
  overflow: auto;
  height: 100%; }

button {
  font-family: inherit; }
  button img {
    vertical-align: middle; }
  #properties button,
  #sidebar button {
    padding-right: 1px;
    padding-left: 1px;
    color: #666;
    font-size: 16px; }
  #toolbar button,
  #properties button,
  #sidebar button,
  #parameters button,
  #evaluations button,
  .enumeration-values-container button {
    border: 0;
    background: none; }

kbd {
  display: inline-block;
  padding: 3px 5px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1; }

svg {
  transform: scale(1); }
  svg.icon {
    width: 16px;
    height: 16px; }

textarea {
  font-family: inherit;
  resize: none; }

a[data-disabled] {
  text-decoration: line-through; }

.noSelect, .handle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.clickable:hover {
  cursor: pointer; }

a.clickable {
  text-decoration: underline; }

.expander {
  position: absolute;
  width: 1px;
  height: 1px; }

.hidden {
  display: none !important; }

.removedParameter {
  display: none; }

#dragBox {
  position: absolute;
  z-index: 999;
  margin: 0;
  padding: 3px;
  border: 1px solid black;
  background-color: #eee;
  color: black;
  font-size: 12px;
  cursor: move;
  pointer-events: none; }
  #dragBox.error {
    background-color: rgba(206, 25, 42, 0.5); }

input[type=checkbox][disabled] {
  color: #ccc;
  opacity: .8; }
  input[type=checkbox][disabled] + label {
    color: #ccc;
    opacity: .8; }

#tabDock {
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  background: linear-gradient(to bottom, #fafafa 0, #ffffff 100%); }
  #tabDock div {
    overflow: auto;
    max-height: 250px;
    background-color: inherit; }
  #tabDock #closeTabDock {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: transparent;
    cursor: pointer; }

.ui-dialog-titlebar.info {
  background: #40c0ff;
  color: black; }

.ui-dialog-titlebar.warning {
  background: #f9bd8b;
  color: black; }

.ui-dialog-titlebar.error {
  background: #ef7883;
  color: black; }

.ui-tabs {
  padding: 0 !important;
  border: 0; }
  .ui-tabs .ui-tabs-nav {
    position: relative;
    padding: 3px;
    list-style: none; }
    .ui-tabs .ui-tabs-nav li {
      position: relative;
      float: left;
      margin: 0 3px 0 0;
      padding: 0;
      border-bottom-width: 1px; }
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
      padding-right: 0;
      padding-left: 0;
      outline: none;
      text-align: center; }

.ui-resizable-n {
  height: 10px; }

.ui-autocomplete {
  max-height: 135px;
  overflow-y: auto;
  overflow-x: hidden; }

.ui-tooltip-content {
  font-size: 10pt; }

tr.ui-sortable-helper {
  display: table; }

.markdown-tooltip {
  position: relative;
  display: none;
  text-align: right;
  height: 0; }
  .markdown-tooltip > span {
    display: inline-block;
    line-height: 0;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.95);
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15); }
  .markdown-tooltip svg {
    width: 10px;
    height: 10px;
    pointer-events: none; }
  textarea:focus + .markdown-tooltip,
  input:focus + .markdown-tooltip {
    display: block; }

.enumeration-values-container li {
  clear: both; }

.enumeration-values-container span,
.enumeration-values-container input {
  float: left; }

.enumeration-values-container button {
  float: right; }

#statement,
#comment,
#treeNameBox {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }

.iconButton {
  cursor: pointer; }
  .iconButton svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
    margin: 3px 5px;
    vertical-align: middle; }
  .iconButton.add svg {
    fill: #0080bf; }
  .iconButton.delete svg {
    fill: #CE192A; }

.handle {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }
  .ui-sortable-helper .handle {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  .parameter-effect .handle {
    padding: 0 5px; }

.zoomTreeButton {
  float: left;
  width: 50px;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  margin-top: -3px;
  margin-left: 2px; }
  .zoomTreeButton svg {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill: currentColor; }

/* Warning: initialiseGrid looks up this rule using the exact selector text.
 * If you change the selector, change the lookup too!
 */
.gridded {
  position: absolute;
  width: 250px;
  height: 50px;
  border-radius: 1px !important; }

#gridIndicator {
  display: none;
  background-color: #9c5dc4;
  opacity: 0.2;
  pointer-events: none; }

.w.treeContainer {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  border-color: rgba(0, 0, 0, 0.5);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center right 15px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3); }
  .w.treeContainer.zoom {
    display: table;
    table-layout: fixed;
    z-index: 50;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: none;
    box-shadow: none;
    color: black;
    opacity: 1;
    cursor: default; }
    .w.treeContainer.zoom:hover {
      background-color: white;
      cursor: default; }
    .w.treeContainer.zoom .treeDiv {
      display: block; }
  .w.treeContainer.optional:not(.zoom) .subjectDiv {
    padding-right: 40px; }
  .w.treeContainer .subjectDiv {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 17px;
    line-height: 50px; }
    .w.treeContainer .subjectDiv > span {
      margin-left: 5px; }
    .w.treeContainer .subjectDiv .icons {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0; }
      .w.treeContainer .subjectDiv .icons svg {
        width: 16px;
        height: 16px;
        fill: currentColor;
        vertical-align: middle; }
  .w.treeContainer.zoom > div {
    display: table-row; }
    .w.treeContainer.zoom > div > div {
      display: table-cell; }
    .w.treeContainer.zoom > div:nth-child(2) > div {
      width: 100%;
      height: 100%; }

.treeDiv {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none; }
  .treeDiv.dragging {
    cursor: move; }

#logo {
  width: 32px;
  height: 32px;
  padding: 8px;
  box-sizing: border-box;
  background: #611596;
  transition: 0.5s background ease-out;
  position: relative; }
  #logo:hover {
    transition: 0.1s background ease-in-out;
    background: #a345e5; }
  #logo img {
    fill: white;
    width: 16px;
    height: 16px;
    transition: 0.5s top ease-out; }

#languages {
  align-self: center;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.25); }

.buttonGroup {
  display: inline-block;
  margin: 5px 0px;
  padding: 0;
  height: 78px;
  border-radius: 5px;
  background-color: white;
  vertical-align: top;
  word-wrap: break-word; }
  .buttonGroup::after {
    float: left;
    width: 100%;
    height: 7px;
    background-color: rgba(163, 69, 229, 0.2);
    content: ""; }
  .buttonGroup:hover::after {
    background-color: rgba(163, 69, 229, 0.25); }

#toolbar {
  margin: 0;
  padding: 0;
  background-color: rgba(154, 122, 176, 0.05);
  border-right: 1px solid rgba(89, 64, 107, 0.1); }
  #toolbar .big-buttons {
    float: left;
    padding: 1px; }
    #toolbar .big-buttons * {
      margin: 0; }
    #toolbar .big-buttons button {
      min-width: 50px; }
    #toolbar .big-buttons div {
      margin: 0 1px; }
    #toolbar .big-buttons img {
      margin: auto;
      margin-bottom: 5px;
      width: 30px;
      height: 30px;
      display: block; }
    #toolbar .big-buttons svg {
      margin: auto;
      margin-bottom: 5px;
      width: 30px;
      height: 30px;
      display: block;
      fill: #725e80;
      width: 32px;
      height: 32px; }
  #toolbar button div {
    margin: 3px;
    font-weight: normal;
    font-size: 12px; }
  #toolbar :disabled {
    outline: none;
    border-color: transparent;
    background-color: transparent;
    color: black;
    opacity: 0.3;
    cursor: default !important; }
    #toolbar :disabled:hover {
      outline: none;
      border-color: transparent;
      background-color: transparent;
      color: black;
      opacity: 0.3;
      cursor: default !important; }
  #toolbar #manual {
    float: right;
    overflow: hidden;
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 100%; }
    #toolbar #manual img,
    #toolbar #manual div {
      margin: 0;
      padding: 0;
      width: 25px;
      height: 25px; }
  #toolbar .separator {
    margin: 5px 0;
    padding: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1); }
  #toolbar #clipboard button {
    cursor: help; }
  #toolbar .dropdown {
    margin-top: 0px;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent; }
    #toolbar .dropdown button {
      width: 100%;
      padding: 2px 5px; }
    #toolbar .dropdown .dropdownItems {
      display: none;
      margin: 0;
      padding: 1px;
      height: auto;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      background: #fefefe;
      border: 1px solid rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      position: absolute;
      min-width: 150px;
      z-index: 52;
      width: auto; }
  #toolbar #menus .dropdown .dropdownItems button {
    padding: 5px 7px; }
  #toolbar .small-buttons {
    float: left;
    padding: 1px; }
    #toolbar .small-buttons * {
      margin: 0;
      padding: 2px; }
    #toolbar .small-buttons button {
      display: block;
      height: 26px;
      text-align: left;
      margin: 1px 0; }
    #toolbar .small-buttons img,
    #toolbar .small-buttons svg {
      margin: 0 3px;
      width: 16px;
      height: 16px;
      fill: rgba(0, 0, 0, 0.5);
      vertical-align: middle; }

#menus {
  display: flex;
  background-color: rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #menus > * {
    flex: 0 1 auto; }
  #menus #scenarioNameTab {
    flex: 1 0 auto;
    align-self: center; }
  #menus svg {
    margin: 0 3px;
    width: 16px;
    height: 16px;
    fill: #777;
    vertical-align: middle; }
  #menus .buttonGroup {
    margin: 0; }
    #menus .buttonGroup::after {
      display: none; }
  #menus button {
    height: auto;
    text-align: left; }
    #menus button:hover, #menus button.dropped {
      background-color: rgba(0, 0, 0, 0.05); }
  #menus .dropdown button {
    display: block; }
  #menus .dropdown svg {
    margin-right: 10px; }
  #menus .dropdownButton {
    height: 32px; }

#toolbar svg use,
#menus svg use {
  pointer-events: none; }

#ribbon {
  padding: 0 5px; }
  #ribbon .buttonGroup {
    overflow: hidden; }
  #ribbon button {
    margin: 1px;
    padding: 0;
    height: 69px;
    border-radius: 5px;
    border: 1px solid transparent; }
    #ribbon button:hover {
      background-color: rgba(163, 69, 229, 0.05);
      border-color: rgba(163, 69, 229, 0.25);
      cursor: pointer; }
  #ribbon .dropped {
    background-color: rgba(163, 69, 229, 0.05);
    border-color: rgba(163, 69, 229, 0.25);
    cursor: pointer; }
  #ribbon button.enabled {
    background-color: rgba(163, 69, 229, 0.25); }

#scenarioNameTab {
  margin: 0;
  padding: 3px 0;
  color: #666;
  text-align: center;
  font-size: 1.1em; }
  #scenarioNameTab span {
    margin: 3px 0;
    padding: 5px;
    min-width: 50px;
    height: 1em;
    color: #000; }
    #scenarioNameTab span:hover {
      background-color: #f8f8f8;
      color: #101010; }
    #scenarioNameTab span input[type=text] {
      height: 1em;
      font: inherit; }
    #scenarioNameTab span:empty {
      padding: 3px 15px; }

.unsavedChanges::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgba(206, 25, 42, 0.75);
  vertical-align: middle; }

#sidebar {
  width: 475px;
  height: 100%;
  background-color: rgba(154, 122, 176, 0.075);
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  min-width: 5px;
  overflow-y: hidden; }
  #sidebar textarea {
    width: 300px;
    resize: vertical; }
  #sidebar > div {
    position: relative;
    width: 100%;
    height: 100%; }
    #sidebar > div > div {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
      padding: 5px; }
  #sidebar .grip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    width: 10px;
    z-index: 100;
    cursor: ew-resize;
    background: black;
    opacity: 0; }
    #sidebar .grip:hover {
      transition: 0s opacity 0.1s linear;
      opacity: 0.25; }
  #sidebar.dragging > * {
    opacity: 0.5; }
  #sidebar input[type="checkbox"] {
    transform: scale(1.25);
    margin-right: .5em; }
  #sidebar .inputgroup {
    display: inline-block; }
  #sidebar .section {
    margin: 0 auto 15px; }
  #sidebar .subsection {
    margin-left: 15px;
    margin-bottom: 15px; }

#properties {
  display: inline-block;
  min-width: 100%; }
  #properties h1 {
    font-size: 40px; }
  #properties.player > #headerComputer,
  #properties.player > #allowInterleaveNode,
  #properties.player > #allowDialogueEndNode,
  #properties.player > #characterSection, #properties.situation > #headerComputer,
  #properties.situation > #allowInterleaveNode,
  #properties.situation > #allowDialogueEndNode,
  #properties.situation > #characterSection, #properties.tree > #headerComputer,
  #properties.tree > #allowInterleaveNode,
  #properties.tree > #allowDialogueEndNode,
  #properties.tree > #characterSection {
    display: none; }
  #properties.player > #treeSubject,
  #properties.player > #optionalSubject, #properties.situation > #treeSubject,
  #properties.situation > #optionalSubject, #properties.computer > #treeSubject,
  #properties.computer > #optionalSubject {
    display: none; }
  #properties.player > #headerSituation {
    display: none; }
  #properties.situation > #headerPlayer {
    display: none; }
  #properties.computer > #headerPlayer,
  #properties.computer > #headerSituation {
    display: none; }
  #properties.tree > #headerPlayer,
  #properties.tree > #headerSituation,
  #properties.tree > #preconditionsSection,
  #properties.tree > #endNode,
  #properties.tree > #effectsSection,
  #properties.tree > #propertyValuesSection,
  #properties.tree > #commentSection {
    display: none; }

.header h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
  font-size: 55px; }

.header img {
  margin-right: 10px;
  vertical-align: middle; }

.header svg {
  width: 48px;
  height: 48px;
  fill: currentColor;
  vertical-align: middle;
  padding: 0 10px; }

.sub-header h2 {
  margin-top: 7px;
  margin-bottom: 7px;
  white-space: nowrap;
  font-size: 20px; }

.sub-header img {
  margin-right: 5px;
  vertical-align: middle; }

.sub-header svg {
  width: 32px;
  height: 32px;
  fill: currentColor;
  vertical-align: middle;
  padding: 0 10px; }

.sidebarSection {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 2px solid white; }
  .sidebarSection.withMarginTop {
    margin-top: 5px; }

#propertyValuesSection table,
#characterSection table {
  width: 100%;
  table-layout: fixed; }

#propertyValuesSection th,
#characterSection th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  width: 30%; }

#propertyValuesSection td,
#characterSection td {
  text-align: left;
  vertical-align: top;
  word-wrap: break-word; }
  #propertyValuesSection td + th,
  #characterSection td + th {
    width: 70%; }
  #propertyValuesSection td input,
  #propertyValuesSection td select,
  #propertyValuesSection td textarea,
  #characterSection td input,
  #characterSection td select,
  #characterSection td textarea {
    width: 100%;
    box-sizing: border-box; }

#propertyValuesSection tr,
#characterSection tr {
  border-bottom: 1px solid black; }

.ui-accordion .ui-accordion-header {
  margin-bottom: 0; }

.ui-accordion .ui-accordion-content {
  padding: 0.5em 1em !important; }

.ui-widget {
  font-size: inherit !important; }

#preconditionsSection {
  white-space: nowrap; }

.clicktag svg,
.masterclicktag svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
  opacity: .75;
  padding: 0; }

#validationReport > * {
  margin: 20px 0; }

#tabDock #validationReport {
  position: relative;
  display: none;
  overflow: auto;
  padding: 0 20px;
  max-height: 200px; }

#validationReport table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  table-layout: fixed; }
  #validationReport table td {
    padding: 5px;
    border: 1px solid black; }
  #validationReport table tr td:nth-child(1) {
    width: 15%; }
  #validationReport table tr td:nth-child(2) {
    width: 85%; }

#validationReport .no-problems {
  color: #22aa33; }

#validationReport .level-error {
  color: #CE192A; }

#validationReport .level-warning {
  color: #F37812; }

#validationReport .level-info {
  color: #0080bf; }

#draftTable {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-size: 14px; }
  #draftTable textarea,
  #draftTable input,
  #draftTable select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 21px;
    border: none; }
  #draftTable textarea {
    height: 18px;
    resize: vertical; }
  #draftTable td {
    vertical-align: top; }
    #draftTable td.disabled {
      position: relative;
      color: #666;
      font-style: italic;
      cursor: default; }
      #draftTable td.disabled.dragHandle {
        font-style: normal !important;
        cursor: default; }
  #draftTable tr:nth-child(odd) td {
    background-color: rgba(0, 0, 0, 0.1); }
    #draftTable tr:nth-child(odd) td:hover {
      background-color: rgba(0, 0, 0, 0.075); }
  #draftTable tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, 0.05); }
    #draftTable tr:nth-child(even) td:hover {
      background-color: rgba(0, 0, 0, 0.025); }

td.dragHandle {
  text-align: center;
  cursor: move; }

#draftTableHeaders th {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: white; }

#draftTableHeaders #draftDragAll {
  background-color: rgba(0, 0, 0, 0.05);
  color: #111;
  text-align: center;
  cursor: move; }
  #draftTableHeaders #draftDragAll:hover {
    background-color: rgba(0, 0, 0, 0.025); }

#addDraftItem {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #eee;
  text-align: center; }
  #addDraftItem:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white; }

#itemControls {
  display: block !important;
  float: right;
  margin: 0;
  width: 100%;
  font-size: 14px; }
  #itemControls button {
    display: inline-block;
    width: 15%;
    text-align: center; }

#tableSizeFixer {
  overflow-y: auto;
  max-height: 140px; }

.disabled .disabled-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  text-align: center; }

#miniwrap {
  display: none; }

#minimap {
  position: relative;
  float: right;
  overflow: scroll;
  margin: 10px;
  padding: 0;
  background-color: white;
  width: 296px;
  height: 296px; }
  #minimap:hover {
    cursor: pointer; }

#minimapSelector {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 296px;
  box-sizing: border-box;
  border: 2px solid #611596;
  border-radius: 1px; }

#scaledDiv {
  pointer-events: none; }
  #scaledDiv * {
    overflow: hidden; }

.evaluation-expression,
.scale-expression,
.expression {
  display: block;
  box-sizing: border-box;
  margin: 3x;
  margin-right: 1px;
  padding: 3px;
  padding-right: 1px;
  background: rgba(242, 182, 61, 0.2);
  border: 1px solid rgba(164, 114, 11, 0.25);
  border-radius: 3px; }

.scale-expression,
.expression {
  display: inline-block; }

.define-type {
  width: 36px;
  height: 36px; }
  .define-type:hover {
    opacity: 0.6;
    cursor: pointer; }

.groupConditionDiv {
  margin: 0;
  margin-left: 12px;
  padding: 0;
  padding-left: 10px;
  border-left: 2px solid rgba(0, 0, 0, 0.1); }
  .when .groupConditionDiv {
    border-left: 2px solid cornflowerblue; }

.condition > button {
  display: block; }

.condition > .condition-test-container + button {
  display: inline-block; }

.condition > .emptyLabel,
.condition > .singleLabel,
.condition > .multipleLabel {
  display: none; }

.condition.empty > .emptyLabel,
.condition.single > .singleLabel,
.condition.multiple > .multipleLabel {
  display: block; }

.groupConditionRadioDiv {
  display: none; }

.condition.multiple > .groupConditionRadioDiv {
  display: block; }

#colorPicker {
  z-index: 51;
  animation: pop-in 0.20s ease-in-out 0s;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5)); }
  #colorPicker .edit,
  #colorPicker .close {
    pointer-events: all; }
    #colorPicker .edit:hover,
    #colorPicker .close:hover {
      cursor: pointer; }

.segment:hover {
  opacity: 0.75;
  cursor: pointer; }

.color {
  border-style: outset; }

@keyframes pop-in {
  0% {
    transform: translate(-50%, -50%) scale(0.75);
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    transform: translate(-50%, -50%) scale(1.025); }
  100% {
    transform: translate(-50%, -50%) scale(1); } }

.long::after {
  content: "";
  display: block;
  background-image: url("../svg/dots.svg");
  background-size: 24px 10px;
  background-position: 4px;
  background-repeat: no-repeat;
  width: 28px;
  height: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  border-top-left-radius: 5px; }

.long.player::after {
  background-color: #1974c9; }

.long.computer::after {
  background-color: #CE192A; }

.long.situation::after {
  background-color: #F37812; }

.long .statementText {
  max-height: 72px;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(black 0%, black 75%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(black 0%, black 75%, rgba(0, 0, 0, 0) 100%); }

.long .statementInput {
  min-height: 200px; }

.lengthTest {
  position: absolute;
  visibility: hidden;
  width: auto;
  height: auto;
  white-space: nowrap;
  font-size: 11px; }

.nodestatement {
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  font: inherit; }

.text {
  width: 420px; }

.imgDiv {
  pointer-events: none; }
  .imgDiv > span {
    pointer-events: all;
    display: inline-block; }
  .imgDiv svg {
    width: 16px;
    height: 16px;
    fill: rgba(0, 0, 0, 0.85);
    margin: 1px;
    position: relative;
    pointer-events: none; }

#metadata {
  width: 600px;
  margin: 0 auto;
  background: #fafafa;
  font-family: MyriadPro-Regular, "Myriad Pro", sans-serif;
  color: #777;
  display: flex; }
  #metadata .index {
    flex: 0 1 auto;
    width: 150px;
    align-self: flex-start;
    padding-right: 10px;
    box-sizing: border-box;
    position: fixed; }
    @supports (position: sticky) {
      #metadata .index {
        position: sticky;
        top: 0; } }
    #metadata .index h1 {
      opacity: .5; }
    #metadata .index ul {
      list-style-type: none;
      padding: 0; }
      #metadata .index ul a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 7px 15px;
        margin-bottom: 3px; }
        #metadata .index ul a:hover, #metadata .index ul a.active {
          background-color: rgba(102, 45, 145, 0.05);
          border-radius: 3px;
          color: black; }
  #metadata .content {
    flex: 1 1 100%;
    padding-left: 160px; }
    @supports (position: sticky) {
      #metadata .content {
        padding-left: 0; } }
    #metadata .content > * {
      margin-bottom: 10px; }
  #metadata h1, #metadata h2, #metadata label, #metadata .d, #metadata th, #metadata button, #metadata ul li {
    -moz-user-select: none;
    user-select: none; }
  #metadata h1, #metadata h2, #metadata h3, #metadata h4, #metadata h5, #metadata h6 {
    font-size: 1rem;
    padding-top: 2em;
    padding-bottom: .5em;
    margin: 0; }
  #metadata .category .category h1, #metadata .category .category h2, #metadata .category .category h3, #metadata .category .category h4, #metadata .category .category h5, #metadata .category .category h6 {
    margin-top: 1em; }
  #metadata .category .category .item {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  #metadata .category .category.ui-tabs {
    border: none; }
  #metadata > .content > .category > .container,
  #metadata > .content > div:not(.category) > .category > .container {
    background: #fefefe;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 3px 15px 50px rgba(0, 0, 0, 0.01), 1px 2px 5px rgba(0, 0, 0, 0.01); }
  #metadata .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    #metadata .item:last-child {
      border-bottom: none !important; }
    #metadata .item::after {
      content: "";
      display: block;
      clear: both; }
    #metadata .item > .itemLabel {
      margin: 0.25em; }
    #metadata .item.singleLineLabelContainer, #metadata .item.singleLineContainerLabel {
      flex-direction: row; }
      #metadata .item.singleLineLabelContainer > *, #metadata .item.singleLineContainerLabel > * {
        width: 50%; }
      #metadata .item.singleLineLabelContainer > *:nth-child(2), #metadata .item.singleLineContainerLabel > *:nth-child(2) {
        flex: 1 1 auto;
        align-self: center; }
      #metadata .item.singleLineLabelContainer > *:first-child, #metadata .item.singleLineContainerLabel > *:first-child {
        flex: 1 1 auto; }
    #metadata .item.singleLineContainerLabel > *:first-child {
      order: 1; }
    #metadata .item.singleLineContainerLabel input[type=checkbox]:nth-child(2) {
      width: auto;
      flex: 0 0 auto;
      align-self: flex-start;
      margin: 0.25em; }
    #metadata .item.container {
      flex-direction: column;
      align-items: stretch; }
      #metadata .item.container > *:first-child {
        display: none; }
    #metadata .item.twoLineLabelContainer, #metadata .item.twoLineContainerLabel {
      flex-direction: column;
      align-items: stretch; }
    #metadata .item.twoLineContainerLabel > *:first-child {
      order: 1; }
  #metadata .item, #metadata .category .category {
    padding: 10px 10px; }
  #metadata table {
    padding: 10px;
    width: 100%; }
    #metadata table th, #metadata table td {
      white-space: nowrap;
      padding: 5px;
      text-align: left; }
      #metadata table th.fill, #metadata table td.fill {
        width: 100%; }
    #metadata table th {
      font-size: 0.9em;
      opacity: .5; }
    #metadata table tr td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
      #metadata table tr td span {
        font-size: .75em;
        opacity: .5;
        font-style: italic;
        display: block; }
    #metadata table tr:last-of-type td {
      border-bottom-width: 0; }
  #metadata input:not([type=checkbox]), #metadata input:not([type=radio]), #metadata input:not([type=range]), #metadata select, #metadata textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 5px; }
  #metadata input[type=checkbox] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 5px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-top: .1em; }
  #metadata select {
    background-color: rgba(0, 0, 0, 0.01); }
  #metadata textarea {
    resize: vertical;
    font-family: MyriadPro-Regular, "Myriad Pro", sans-serif;
    min-height: 10rem; }
  #metadata label::first-letter {
    text-transform: uppercase; }
  #metadata .description {
    display: block;
    font-size: .8em;
    opacity: .75;
    margin-top: .5em;
    margin-bottom: .25em; }
    #metadata .description:empty {
      display: none; }
  #metadata .inputgroup {
    display: flex; }
    #metadata .inputgroup input:not([type=checkbox]), #metadata .inputgroup input:not([type=radio]), #metadata .inputgroup input:not([type=range]), #metadata .inputgroup select, #metadata .inputgroup textarea {
      flex: 1 1 auto;
      border-right-width: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    #metadata .inputgroup button {
      flex: 0 0 auto; }
      #metadata .inputgroup button svg {
        vertical-align: middle; }

.alert {
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  font-size: 0.75em; }
  .alert a {
    color: inherit; }
  .alert.warning {
    background-color: rgba(242, 182, 61, 0.25);
    border-color: #d4930e;
    color: #a4720b; }

/*# sourceMappingURL=stylesheet.css.map */
