@charset "UTF-8";

// © Utrecht University and DialogueTrainer

#colorPicker {
    z-index: 51;
    animation: pop-in 0.20s ease-in-out 0s;
    -webkit-filter: drop-shadow(0px 2px 3px rgba(black, 0.5));
    filter: drop-shadow(0px 2px 3px rgba(black, 0.5));
    .edit,
    .close {
        pointer-events: all;
        &:hover {
            cursor: pointer;
        }
    }
}

.segment:hover {
    opacity: 0.75;
    cursor: pointer;
}

.color {
    border-style: outset;
}

@keyframes pop-in {
    0% {
        transform: translate(-50%, -50%) scale(0.75);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        transform: translate(-50%, -50%) scale(1.025);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
